.result-container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.hands-container {
  display: flex;
  flex-direction: column; /* una mano arriba y la otra abajo */
  justify-content: space-between;    /* centrar horizontalmente */
}
.hands-container single-hand:first-child {
  transform: rotate(180deg); /* la de arriba patas para arriba */
}
.star-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.result{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  height: 100%;
}
.result.win {
  background-color: rgba(136, 137, 73, 0.6);
}
.result.lose {
  background-color: rgba(137, 73, 73, 0.6);
}
.result.draw {
  background-color: rgba(129, 129, 110, 0.6);
}